.parent {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  padding: 10px;
  background-image: url(../assets/ocean.jpg);
  // position: relative;
}

.child {
  width: 200px;
  height: 100px;
  border: 2px solid black;
  //position: absolute;
  top: 150px;
  left: 150px;
}
h2 {
  text-align: center;
  margin: 20px;
  color: white;
}

.gift {
  color: blueviolet;
  font-size: 50px;
  position: relative;
}

.fa-gift {
  position: absolute;
  top: -30px;
  left: 50%;
  padding: 10px;
  background-color: white;
}

nav {
  color: blue;
  border: 1px solid black;
  text-align: center;
  background-color: #87ceeb;
  padding: 10px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
}

header {
  height: 5%;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
}
