@import "~bootstrap/scss/bootstrap";

html,
body,
.lists-container {
  height: 100%;
}
body {
  font-family: sans-serif;
}

.lists-container > .row {
  height: 50%;
  border-bottom: 1px solid #a9a9a9;
}

.lists-container > .row > .col-6 {
  border-right: 1px solid #a9a9a9;
}

.lists-container ul {
  list-style-type: none;
  padding-left: 0;

  .fa-trash {
    display: none;
  }

  li {
    cursor: pointer;
  }

  li:hover {
    .fa-trash {
      display: inline;
      color: #800080;
    }
  }
}

.doneList li {
  text-decoration: line-through;
}

.header-background {
  border-bottom: 1px solid #a9a9a9;
}

#importantAndUrgent {
  background-color: #e6e6fa;
  .header-background {
    background-color: #d8bfd8;
  }
}
#importantAndNotUrgent {
  background-color: #ffefd5;
  .header-background {
    background-color: #ffdab9;
  }
}
#notImportantAndUrgent {
  background-color: #e0ffff;
  .header-background {
    background-color: #b0c4de;
  }
}
#notImportantAndNotUrgent {
  background-color: #d8bfd8;
  .header-background {
    background-color: #da70d6;
  }
}

.h-15 {
  height: 15%;
}
.h-10 {
  height: 10%;
}
